body {
  background: url('/public/jobly-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.none {
  font-size: 36px;
  color: white;
  text-shadow: 2px 2px 5px black;
}
